/**
 *********************************************
 * Prototype of styles for horizontal CSS-jmenu
 * @data 30.06.2009
 *********************************************
 * (X)HTML-scheme:
 *  <div id="jmenu">
 *      <ul class="jmenu">
 *          <li><a href="#" class="parent"><span>level 1</span></a>
 *              <ul>
 *                  <li><a href="#" class="parent"><span>level 2</span></a>
 *                      <ul><li><a href="#"><span>level 3</span></a></li></ul>
 *                  </li>
 *              </ul>
 *          </li>
 *          <li class="last"><a href="#"><span>level 1</span></a></li>
 *      </ul>
 *  </div>
 *********************************************
 */

/* jmenu::base */
div#jmenu {
    height:41px;
    background:url(images/main-bg.png) repeat-x;
}

div#jmenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}
div#jmenu ul.jmenu {
    padding-left: 30px;
}

div#jmenu li {
    position: relative;
    z-index: 9;
    margin: 0;
    padding: 0 5px 0 0;
    display: block;
    float: left;
}
div#jmenu li:hover>ul {
    left: -2px;
}

div#jmenu a {
    position: relative;
    z-index: 10;
    height: 41px;
    display: block;
    float: left;
    line-height: 41px;
    text-decoration: none;
    font: normal 12px Trebuchet MS;
}
div#jmenu a:hover, div#jmenu a:hover span { color: #000 /*#fff*/; }
div#jmenu a:hover { color: rgb(218,219,222); }
div#jmenu li.current a {}



div#jmenu span {
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 95% 0;
}
div#jmenu ul ul a.parent span {
    background-position:95% 8px;
    background-image: url(images/item-pointer.gif);
}
div#jmenu ul ul a.parent:hover span {
    background-image: url(images/item-pointer-mover.gif);
}

/* jmenu::level1 */
div#jmenu a {
    padding: 0 10px 0 10px;
    line-height: 30px;
    color: Red;
}
div#jmenu span {
    margin-top: 5px;
	color: #000;
}
div#jmenu ul a:hover span {
color: #333;
}
div#jmenu ul ul span {
color: #000;
}
div#jmenu ul ul a:hover span {
color: rgb(218,219,222);
}


div#jmenu li { background: url(images/main-delimiter.png) 98% 4px no-repeat; }
div#jmenu li.last { background: none; }

/* jmenu::level2 */
div#jmenu ul ul li { background: none; }
div#jmenu ul ul {
    position: absolute;
    top: 38px;
    left: -999em;
    width: 163px;
    padding: 5px 0 0 0;
    background:#bbb;
    margin-top:1px;
}
div#jmenu ul ul a {
    padding: 0 0 0 15px;
    height: auto;
    float: none;
    display: block;
    line-height: 24px;
    color:#000;
    /*color: rgb(169,169,169);*/
}
div#jmenu ul ul span {
    margin-top: 0;
    padding-right: 15px;
    _padding-right: 20px;
    color:#000;
    /*color: rgb(169,169,169);*/
}
div#jmenu ul ul a:hover span {
    color: #fff;
}
div#jmenu ul ul li.last { background: none; }
div#jmenu ul ul li {
    width: 100%;
}

/* jmenu::level3 */
div#jmenu ul ul ul {
    padding: 0;
    margin: -38px 0 0 163px !important;
    margin-left:172px;
}

/* colors */
div#jmenu ul ul ul { background: rgb(41,41,41); }
div#jmenu ul ul ul ul { background: rgb(38,38,38); }
div#jmenu ul ul ul ul { background: rgb(35,35,35); }

/* lava lamp */
div#jmenu li.back {
    background: url(images/lava.png) no-repeat right -44px !important;
    background-image: url(images/lava.gif);
    width: 13px;
    height: 44px;
    z-index: 8;
    position: absolute;
    margin: -1px 0 0 -5px;
}
div#jmenu li.back .left {
    background: url(images/lava.png) no-repeat top left !important;
    background-image: url(images/lava.gif);
    height: 44px;
    margin-right: 8px;
}

