﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Report.ascx.cs" Inherits="controls_Report" %>
<%@ Register assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" namespace="Microsoft.Reporting.WebForms" tagprefix="rsweb" %>
<div id = "divMessage" style="margin-top: 40px; display: none;" runat="server">
    <center>
        No data found
    </center>
</div>
<div>
    <rsweb:ReportViewer ID="rvCommon" runat="server" Width="100%">
    </rsweb:ReportViewer>
</div>
