﻿body {
}
.cnr
{
	padding: 0px !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
	width: 100% !important;
}
.container {
padding-right: 5px!important;
padding-left: 30px!important;
margin-right: auto;
margin-left: auto;
width: 97% !important;
}
element.style {
}
.mainrightimg
{
	margin-top: 15px;
}
#popupmainwrap
{
	margin-top: -300px !important;
}
	
#welcome
{
	line-height: 3px !important;
}	
.row
{
	width: 100% !important;
}
.navbar-default
{
	/*background: #0FABEC !important;	*/
}
.navbar-default .navbar-nav>li>a 
{
	color:#000 !important;
	
}

.legend
{
	font-size: 14px !important;
	font-weight: bolder;
}

#imgLogo
{
	width: 100%;
	max-width: 200px;
}
.navbar-nav>li
{
	margin:16px;
	background: rgba(243,251,254,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(243,251,254,1) 0%, rgba(243,251,254,1) 24%, rgba(127,216,249,1) 81%, rgba(183,222,237,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(243,251,254,1)), color-stop(24%, rgba(243,251,254,1)), color-stop(81%, rgba(127,216,249,1)), color-stop(100%, rgba(183,222,237,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(243,251,254,1) 0%, rgba(243,251,254,1) 24%, rgba(127,216,249,1) 81%, rgba(183,222,237,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(243,251,254,1) 0%, rgba(243,251,254,1) 24%, rgba(127,216,249,1) 81%, rgba(183,222,237,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(243,251,254,1) 0%, rgba(243,251,254,1) 24%, rgba(127,216,249,1) 81%, rgba(183,222,237,1) 100%);
background: radial-gradient(ellipse at center, rgba(243,251,254,1) 0%, rgba(243,251,254,1) 24%, rgba(127,216,249,1) 81%, rgba(183,222,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3fbfe', endColorstr='#b7deed', GradientType=1 );
border-radius: 10px;
box-shadow: #333 0px 0px 9px;

}
select
{
	margin: 5px 5px !important;
}
.navbar-default .navbar-nav>li>a
{
	font-size: 11px;
	text-align: center;
}
.navbar-default
{
	background:none !important;
	border-color:#0FABEC !important;
	border-left: 0px !important; 
	border-right: 0px !important; 
	border-bottom: 0px !important;
	border-radius: 0px !important;  
	
}
.trRight, .firstTrLeft, .firstTrRight
{
	margin-bottom: 10px;
}
.navbar
{
	margin-bottom: 0px !important;
}
.nav>li>a
{
	padding: 5px 11px !important;
}
.navbar-nav>li
{
	padding:2px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.navbar-nav>li:hover
{
	border-radius: 25% !important; 
}
.h1, .h1, h2, .h2, h3, .h3
{
	margin-top: 9px !important;
}
.ajax__calendar_days, .ajax__calendar_months, .ajax__calendar_years
{
	width: 100% !important;
}
.ajax__calendar_container
{
	font-size: 14px inherit!important;
}
#rightsidebar
{
	width: 100% !important;
}
#welcome {
    margin-top: -72px!important;
	border-left:20px solid transparent;
	border-right:20px solid transparent;
	border-top:40px solid #0FABEC;
	width: 50% !important;
}
.float
{
	float:right;
}

.grid
{
	width: 100%;
	overflow:auto;
	min-width: 100px;
}
.menu-ico
{
	display:block;
}
#RecentPhoto{
	padding: 0px; 
	margin: 0px; 
	border: 1px solid #F0F0F0;

}
#trProfile
{
	margin-bottom: 15px !important;
}
.innerdivheaderValue
{
	width:100% !important;
}
#main
{
	margin-top: 15px;
}
#essnewforms
{
	margin-bottom: 20px;
	height:auto !important;
}
.menu-ico
{
 margin:0px auto;
}
#welcome {
	/*background: url("../images/welcome.png" repeat scroll 0 0 transparent;*/
	float: right;
	position:relative;
	margin-top: -2px;
	border-left:20px solid transparent;
	border-right:20px solid transparent;
	border-top:40px solid #0FABEC;
	width: 320px;
	}
	#logout a {
	color: #00BAFF;
	text-decoration: none;
	}
	.welcomelabel {
	color:#ffffff;
	position:absolute;
	margin-top:-20px;
	text-align:center;
	text-decoration: none;
	width: 100% !important;


	}
	
	#logout a:hover {
	color: red;
	margin-top: 5px;
	opacity: 0.5;
	text-decoration: none;
	}
	#logout {
	float: right;
	margin-left: 55px;
	margin-top: 28px;
	padding: 0;
	text-align: right;
	}
	#forms {
	background: url("../images/fancy_deboss.png") repeat scroll 0 0 transparent;
	border-radius: 6px 6px 6px 6px;
	border-top: 1px solid #0FABEC;
	float: left;
	margin-left: 10px;
	min-height: 850px;
	width: 760px;
	webkit-box-shadow: 0px 4px 5px rgba(50, 50, 85, 0.43);
-moz-box-shadow:    0px 4px 5px rgba(50, 50, 85, 0.43);
box-shadow:         0px 4px 5px rgba(50, 50, 85, 0.43);

	}
	#forms_heirarchy {
	background: url("../images/fancy_deboss.png") repeat scroll 0 0 transparent;
	border-radius: 6px 6px 6px 6px;
	border-top: 1px solid #0FABEC;
	float: left;
	margin-left: 10px;
	min-height: 850px;
	width: 980px;
	}
	
	#dashboard1_heirarchy {
	height: auto;
	width: 980px;
	}
	#essnewforms {
background: url("../images/fancy_deboss.png") repeat scroll 0 0 transparent;
	
	border-radius: 6px 6px 6px 6px;
	border-top: 1px solid #0FABEC;
	
	min-height: 850px;
	webkit-box-shadow: 0px 4px 5px rgba(50, 50, 85, 0.43);
-moz-box-shadow:    0px 4px 5px rgba(50, 50, 85, 0.43);
box-shadow:         0px 4px 5px rgba(50, 50, 85, 0.43);

	}
	#contentforms {
	background: url("../images/fancy_deboss.png") repeat scroll 0 0 transparent;
	border-radius: 6px 6px 6px 6px;
	border-top: 1px solid #0FABEC;
	float: left;
	margin-left: 10px;
	margin-top: 35px;
	min-height: 780px;
	width: 762px;
	}
	#formsreport {
	background: url("../images/fancy_deboss.png") repeat scroll 0 0 transparent;
	border-radius: 6px 6px 6px 6px;
	border-top: 1px solid #0FABEC;
	float: right;
	margin-left: 10px;
	min-height: 780px;
	width: 990px;
	webkit-box-shadow: 0px 4px 5px rgba(50, 50, 85, 0.43);
-moz-box-shadow:    0px 4px 5px rgba(50, 50, 85, 0.43);
box-shadow:         0px 4px 5px rgba(50, 50, 85, 0.43);

	}
	#rightsidebar {
	background: url("../images/fancy_deboss.png") repeat scroll 0 0 transparent;
	border-bottom: 1px solid #0FABEC;
	border-radius: 6px 6px 6px 6px;
	border-top: 1px solid #0FABEC;
	float: left;
	height: auto;
	 color:Black !important;
	text-align:left;
	webkit-box-shadow: 0px 4px 5px rgba(50, 50, 85, 0.43);
-moz-box-shadow:    0px 4px 5px rgba(50, 50, 85, 0.43);
box-shadow:         0px 4px 5px rgba(50, 50, 85, 0.43);

	}
	#name h5 {
	color: #000000;
	font-size: 12px;
	}
	#sidebarsettings {
	display: block;
	padding-top: 20px;
	}
	.sideboxImage {
	float: left;
    height: 50px;
    margin-left: 20px;
    width: 30px;
	}
	.name 
	{
	
	  float: right;
    height: 45px;
    margin-right: 20px;
    padding-top: 7px;
    width: 132px;
    
	}




@media (max-width:320px) {
#RecentPhoto
{
	display:none;
}
#tabs
{
	display:none;
}
#popupmainwrap
{
	margin-top: -300px !important;
	width: 50% !important;
	
}


}
@media (max-width:769px) 
{
	.navbar-nav>li
{
	width: 100%;
	
}
.navbar-nav
{
	width: 100%;
	
}
.navbar-nav>li
{
border-radius: 0px;
}	
.navbar-default .navbar-nav>li>a {
font-size: 12px;
text-align: left;
margin-left: 25px;
}

.menu-ico
{
	display:none !important;
}
.navbar-nav>li
{
	margin:2px;
	background: #ccc;

}
.float
{
	float:left;
}
	#welcome {
margin-top: -90px!important;
border-left: 20px solid transparent;
border-right: 20px solid transparent;
border-top: 28px solid #0FABEC;
width: 100% !important;
text-align: left !important;
}
.navbar-nav>li:hover
{
	border-radius: 0% !important; 
	background:#0FABEC;

}
.navbar-default .navbar-nav>li>a:hover 
{
		color: #fff !important;
}
.trRight
{
	width: 100% !important;
	float: left;
}
.trLeft
{
	width: 100% !important;
	float: left;
}

}
@media (max-width:320px) 
{
	#welcome {
margin-top: -161px!important;
border-left: 20px solid transparent;
border-right: 20px solid transparent;
border-top: 28px solid #0FABEC;
width: 100% !important;
text-align: left !important;
}
}