﻿.selected_item1
{
	border-bottom-style: solid; 
	border-bottom-width: 1px; 
	border-bottom-color: #F0F0F0;
	background-color: #F9F2F3;
	cursor: pointer;
}
.header_text1
{
	color: #F5F5F5; font-size: 12px; font-weight: bold;
	cursor: move;
}

.sub_heading1
{
	font-weight: bold; padding-top: 15px; padding-bottom: 3px;
}



.container_head1
{
	background-color: #D4D4D4;
}
.container_content1
{
	height: 195px; 
overflow: auto;
}

.alternate_item1
{
	background-color: rgb(227, 227, 227);
}

.item_cell1
{
	padding-left: 5px;
}
.leave_details1
{
	border-bottom-style: solid; 
	border-bottom-width: 1px; 
	border-bottom-color: #F0F0F0
}
.treeNodeSelected1
{
	background-color: #7A363D;
	color	:#F5F5F5;
	
}

.maindiv1
{
	width:100%;
	min-height: 20px;
	height: auto;
	padding-top: 5px;
	position:relative;
	overflow:auto;
	margin-left:8px;
	word-break:break-all;
}

.innerdiv11
{
	float: left;
	width: 18%;
	min-height: 20px;
	height: auto;
	padding-left: 7px;
	word-break:break-all;
	color:Black;
	font-size:13px;
}

.innerdiv21
{
	float: left;
	width: 01%;
	min-height: 20px;
	height: auto;
	padding-left: 0px;
	font-size: 15px;
	font-weight: bold;
	word-break:break-all;
}

.innerdiv31
{
	float: left;
	width: 29%;
	min-height: 20px;
	height: auto;
	padding-left:5px;
	word-break:break-all;
	font-size:13px;
	
}