a
{
	outline:0;
 }
 
 a:hover
 {
 	-webkit-transition: all.3s ease-in-out;
	-moz-transition: all.3s ease-in-out;
	-o-transition: all.3s ease-in-out;
	transition: all.3s ease-in-out;
 	}

/*input
{
	outline:0;
	margin-left: 19px;
	margin-right: 77px;
}*/


::-webkit-scrollbar {
    width: 10px;
    height:10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(90,202,222,0.3); 
    -webkit-border-radius: 7px;
    border-radius: 7px;


}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 7px;
    border-radius: 7px;
    background:#dadcdd; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(90,202,222,0.4); 





}

textarea
{
	resize:none;
	padding:3px;

}

	body {
	background: url("../images/ecailles.png") repeat scroll 0 0 transparent;
	color: #033044;
	font-family: 'Abel',sans-serif;
	font-size: 15px;
	margin: 0;
	padding: 0;
	width:100%;
	}
	img {
	border: medium none;
	}
	
	img:hover{
	opacity:.8;
	}
	
	img:active{
	position:relative;
	top:2px;
	}
	#header-wrapper {
	border-bottom: 1px solid #0FABEC;
	border-top: 2px solid #0FABEC;
	height: 100px;
	width: 100%;
	margin:auto;
	padding: 0px;
	}
	#header {
	height: 100px;
	margin:auto;
	padding:0px;
	width: 1200px;
	border-bottom: 1px solid #0FABEC;
	}

	
	
	#logo {
	background: url("images/logo.png") no-repeat scroll 0 0 transparent;
	float: left;
	height: auto;
	margin-left: 215px;
	margin-top: 20px;
	padding: 0;
	width: 260px;
	}
	
	
	#companylogo1 {
	background: url("images/logo.png") no-repeat scroll 0 0 transparent;
	float: left;
	height: auto;
	
	margin-top: 10px;
	padding: 0;
	width: 260px;
	}
	#companylogo1 img
	{
		width:90px;
		max-width:70%;
		
		height:60px;
		text-align:center;
		
}

.companyimg
{
	
	width:260px;
	text-align:center;
	}
	
	
	.companyname
	{
	text-align:center;
		width:260px;
		}
	
	
	#logo h1 {
	font-size: 3.6em;
	letter-spacing: -2px;
	padding: 30px 0 0;
	text-transform: lowercase;
	}
	#logo h1 a {
	color: #1B2024;
	text-decoration: none;
	}
	#footer {
	background: url("../images/footerbg.png") repeat scroll 0 0 transparent;
	border-top: 4px solid #888B8A;
	font-family: 'Abel',sans-serif;

	margin: 0 auto;
	}
	#footer p {
	color: #D9DAD9;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: normal;
	margin-top: 8px;
	text-align: center;
	}
	#footer a {
	color: #D9DAD9;
	text-decoration: none;
	}
	#footer a:hover {
	color: #0FABEC;
	text-decoration: none;
	}
	#essfooter-wrapper {
	background: url("images/body1.png") repeat scroll 0 0 transparent;
	
	width: 100%;
	}
	#essfooter-content {
 color: #717171;
    margin: 0 auto;
    height:auto;
    min-height:82px;
     padding-top: 10px;
    padding-bottom: 10px;

    width: 1250px;
	}
	#footer-menucontent {
	color: #717171;
	margin: 0 auto;
	overflow: hidden;
	padding:none;
	width: 1200px;
	}
	#essfooter-content a {
	text-decoration: none;
	}
	#essregform {
	background: none repeat scroll 0 0 #E1E3E3;
	margin: auto;
	padding: 50px;
	width: 700px;
	}
	#essregform h3 {
	color: #065E9C;
	font-size: 20px;
	}
	#essfooter-content h2 {
	color: #B5A871;
	font-size: 30px;
	letter-spacing: -1px;
	margin: 0;
	padding: 0 0 30px;
	text-decoration: none;
	}
	#essform input {
	color: #04375B;
	font-size: 18px;
	height: 30px;
	width: 250px;
	}
	#essform p {
	color: #043950;
	font-size: 14px;
	margin: auto;
	padding-top: 15px;
	}
	#essform {
	margin-left: 200px;
	margin-top: 40px;
	}
	#essbutton {
	background: none repeat scroll 0 0 #043347;
	border-radius: 5px 5px 5px 5px;
	display: inline-block;
	margin-top: 30px;
	padding: 7px 30px;
	}
	#essbutton a {
	color: #FFFFFF;
	}
	
	.name a 
	{
		color:#2e2f2f !important;
		 font-size:12px!important;
		  font-weight:bold;
		}
	
	.name a:hover {
	color: #0592D7 !important;
	}
	#search {
	margin-bottom: 10px;
	margin-left: 20px;
	margin-top: 10px;
	width: 237px;
	}
	
	
	
	input[type="text"], input[type="password"], input[type="textarea"] {
	border: 1px solid #62c4e7;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 1px 1px 4px #CCCCCC;
	float: left;
	font-family: Verdana;
	font-size: 14px;
	font-weight: 200;
	margin: 0px 5px;
	border-radius: 5px;
	padding-left: 5px;
	
	-webkit-transition: all.3s ease-in-out;
	-moz-transition: all.3s ease-in-out;
	-o-transition: all.3s ease-in-out;
	transition: all.3s ease-in-out;
	}
	
	
	input[type="text"]:focus, input[type="password"]:focus, textarea:focus ,select:focus
	{
		
		box-shadow:0 0 7px #279fd1;
		border:1px solid #279fd1;
		}
		
		
		
	

	
	
	
	
	
	#txtsmall input {

	font-family: Verdana;
	font-size: 12px;
	height: 12px;
	width: 150px;
	padding :2px 0;

	}
	select {
	border: 1px solid #0FABEC;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 1px 1px 5px #CCCCCC;
	float: left;
	font-family: Verdana;
	font-size: 12px;
	font-weight: 200;
	height: 20px;
	padding: 0;
	width: 150px;
	margin-bottom: 0px;
	margin-right: 0px;
}
	textarea {
	border: 1px solid #0FABEC;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 1px 1px 5px #CCCCCC;
	float: left;
	padding-left: 5px;
	font-family: Verdana;
	font-size: 12px;
	font-weight: 200;
	padding: 0;
	border-radius: 5px;
	width: 150px;
	margin: 5px 5px !important;
	}
	#searchimg {
	float: right;
	margin-right: 15px;
	margin-top: -14px;
	width: 50px;
	}
	#advancesearch {
	margin-left: 80px;
	margin-top: 40px;
	width: 237px;
	}
	#advancesearch a {
	color: #0864A5;
	text-decoration: none;
	}
	#advancesearch a:hover {
	color: #0FABEC;
	}
	#advancesearch a:active {
	color: #C85007;
	}
	#sendmailtip {
	float: right;
	margin-right: 10px;
	width: 150px;
	}
	#dashboardh5
	{
	float:left ;
	
	margin-top:22px;
	}
	#dashboardh5 h6 
	{
	float: left;
	color: #404141;
	font-size: 15px;
	margin-left: 0;
	}
	#dashboardh5 h3 {
	color: #404141;
	font-size: 12px;
	margin-left: 0;
	}
	#dashimg {
	float: left;
	margin-left: 20px;
	margin-right: 10px;
	padding-top: 0;
	}
	#dashboard1 {
	height: auto;
	width: 100%;
	}
	#dashboard2 {
	height: auto;

	}
	.btnsubmit {
	background: none repeat scroll 0 0 #2AB0E3;
	border: 1px solid #1C6C7A;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 1px 6px 4px rgba(0, 0, 0, 0.07) inset, 0 0 0 3px #FEFEFE, 0 5px 3px 3px #D2D2D2;
	color: #FFFFFF;
	cursor: pointer;
	font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
	font-weight: bold;
	margin-bottom: 10px;
	padding: 4px 5px 4px 4px;
	
	transition: all 0.2s linear 0s;

	}
	.btnsubmit:hover
	{
	background: rgb(57, 191, 215);
	border:solid 1px blue;

	}


	.CalendarDay1
	{
background: #f0f9ff !important;/* Old browsers */
background: -moz-linear-gradient(top,  #f0f9ff 0%, #cbebff 47%, #a1dbff 100%)!important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f9ff), color-stop(47%,#cbebff), color-stop(100%,#a1dbff))!important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%)!important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%)!important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%)!important; /* IE10+ */
background: linear-gradient(to bottom,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%)!important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 )!important; /* IE6-9 */
border: 1px solid rgb(91, 189, 253)!important;
/*background: url(../images/dark_wall.png) repeat right;*/
color: rgb(122, 109, 109);
padding:7px;
	}
	
	.CalendarDay1:hover
	{
		background: rgb(71, 187, 66) !important;	
}
	
	
	
	
	
	.CalendarDay
	{
	color:#3197fc;	
	font-size:12px;
	background:#fff;

	}
	.labeltext {
	color: Black;
	font-family: Verdana;
	font-size: 12px;
	font-weight: 200;
	line-height: 25px;
	padding: 3px;
	text-align:left;
	}
	.listHeader {

	color: #0E9AD4
	}


	.viewtrleft
	{
	color: Red;
	float: left;
	font-size: 14px;
	width: 35%;
	}
		
	.tblBackground1{
	background:url(../images/calanderbg.png);
	}
	.datalistheader
	{
	line-height:25px;
	font-size:12px; 
	font-weight:bold ;
	color:white; 
	background-color: #307296; 
	background: url(../images/dark_wall.png) repeat right;
	border-bottom:none;
	padding-left:5px;
	padding-right:5px;
	border-radius:6px;
	border-left:1px solid #59b6fe;
	border-right:1px solid #2b70a5;

	}
	.datalistHeaderWhite
	{
	line-height:25px;
	font-size:12px; 
	color:#FFF; 
	background-color: #307296; 
	background: url(../images/dark_wall.png) repeat right;
	border-bottom:none;
	padding-left:5px;
	}
	.calheader
	{
	line-height:25px;
	font-size:12px; 
	color:#FFF; 
	border-radius:5px;

	background: url(../images/dark_wall.png) repeat right;

	}


	moduleTable
	{
	border-collapse:collapse;
	}

	.moduleTable .inactiverow 
	{
	background:#f3f8fb;	
	cursor:default;
	}
	.moduleTable .inactiverow:hover,.activerow
	{
	background:#e9f6ff;	
	cursor:pointer;
	}

	.moduleTable .inactiverow:hover span,.activerow span
	{
	font-weight:bold;
	color: #3888B4;
	}
	.moduleTable .activerow div
	{
	cursor:default;
	}

	.moduleTable .inactiverow td,.moduleTable .inactiverow td
	{
	padding: 2px 0;	
	border-bottom: solid 1px LightBlue;
	}
	.moduleTable .inactiverow td table td,.moduleTable .inactiverow td table td
	{
	border:0;
	}
	.moduleTable .inactiverow td table ,.moduleTable .inactiverow td table
	{
	border:0;
	}
	.Currendate
	{
	background: url(../images/dark_wall.png) repeat right;
	}

	.Dashboradlink
	{
	font-size:12px;
	line-height :22px;
	color:#6a8bab;	
	}
	.Dashboradlink:hover
	{
	color: #0099FF;
	}
	.error
	{
	color: #D8000C;
	padding:1px;
	font-size:12px;

	background:#fff6f6;
	margin-left:6px;
	border:solid 1px #7fd4fc;
	border-radius:5px;
	}

	#reportforms
	{

	width:980px;
	background: url("../images/fancy_deboss.png") repeat scroll 0 0 transparent;
	border-radius: 6px 6px 6px 6px;
	border-top: 1px solid #0FABEC;
	float: left;
	margin-left: 25px;
	padding:10px;
	min-height: 850px;



	}
	#Rforms
	{

	width:880px;
	background: url("../images/fancy_deboss.png") repeat scroll 0 0 transparent;
	border-radius: 6px 6px 6px 6px;
	border-top: 1px solid #0FABEC;
	float: left;
	margin-left: 25px;
	padding:10px;
	min-height: 850px;



	}
	.statusspan {
    background-color: #97DEFC;
    color: #05587A;
    font-size: 11px;
    padding: 3px;
    height :10px;
}
	.referencebutton 
	{
	cursor:pointer;	
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background: #f0f9ff; /* Old browsers */
	background: -moz-linear-gradient(top,  #f0f9ff 0%, #cbebff 47%, #a1dbff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f9ff), color-stop(47%,#cbebff), color-stop(100%,#a1dbff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */

	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:4px;
	border-right:1px solid #3dc2fa;
	border-bottom:1px solid #3dc2fa;
	border-top:1px solid #3dc2fa;
	border-left:1px solid #3dc2fa;

	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	margin-left:3px;
	height:20px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;	
	 
	}.referencebutton:hover {
	background:#99dffa;
	}.referencebutton:active {
	position:relative;
	top:1px;
	}
	#homeforms
	{

	background: url("../images/fancy_deboss.png") repeat scroll 0 0 transparent;
	border-radius: 6px 6px 6px 6px;
	border-top: 1px solid #0FABEC;
	float: left;
	margin-left: 10px;
	min-height: 850px;
	width: 735px;


	}

	#homerightsidebar
	{

	background: url("../images/fancy_deboss.png") repeat scroll 0 0 transparent;
	border-bottom: 1px solid #0FABEC;
	border-radius: 6px 6px 6px 6px;
	border-top: 1px solid #0FABEC;
	float: right;
	height: auto;
	width: 253px;

	}
	
	
	.print:active
	{
		position: relative;
		top: 1px;
	}
	

	.JobTray
	{
		
	 border: 1px solid #79D4FA;
	border-radius: 5px 5px 5px 5px;
	padding: 3px;
		
		
		}
		.JobTrayHead
		{
			
			background: url(../images/dark_wall.png) repeat right;
			border-radius: 5px 5px 5px 5px;
			color:White;
			 padding-bottom: 2px;
			
			
			}
	.JobTrayContent
{
	border-radius: 5px 5px 5px 5px;
	background: #e4f1fe;
	color: White;
}		

.JobTrayContent a
{
	font-size: 12px;
	color: #6a8bab;
}	
	.JobTrayContent a:hover
	{
	color: #0099FF;
	}
	
	.statusspan
{
    background-color: #b6e9fc;

    color: #095d7e;
    font-size: 11px;
    padding: 3px;
 
}
.tblBackground
{
	background:url(../images/add.gif) no-repeat;
	text-align :right;
}

.tblHolidayBackground
{
	background : url(../images/holiday.gif) no-repeat;
	text-align :right;
}
.tblOffDayBackground
{
	background:url(../images/OffDay.jpg) no-repeat;
	text-align :right;
}
.linknext
{
	color: #0099FF;
}
.linknext:hover
{
	color: #33CCFF;
}
.homedeleteicon
{
	padding-left:5px;
	padding-top:15px;
}
.CalendarNextPrev
{
	
}
.innerdivheader {
    color: #696C6D;
    font-family: "verdana";
    font-size: 13px;
    height: 25px;
    width: 193px;
}
.treeNode
{
	color:#4b6771;
	font-family: "verdana";
    font-size: 11px;
}
.treeNodeSelected
{
	color:#0993cd;
	font-weight:bold;
	font-family: "verdana";
    font-size: 12px;

}
.treeRootNode
{
	color:#1c639e;
	font-weight:bold;
	font-family: "tahoma";
	text-transform:uppercase;
    font-size: 11px;


}
.treeParentNode
{
	color: #840F44;
	font-weight: bold;
	font-family: "tahoma";
	text-transform: uppercase;
	font-size: 11px;
}
.treeNode2
{
	color: #525252;
	font-family: "verdana";
	font-size: 11px;
	font-weight: bold;
}
.treeNodeSelected2
{
	color: #0FAFF4;
	font-weight: bold;
	font-family: "verdana";
	font-size: 13px;
}
.updateProgress
{
	width :200px;
	height :20px;
	
	background-color:#FFC080;
	
	position:relative   ;
}


.modalBackGround
{
	background-color :Aqua  ;
	filter:alpha(opacity=80);
	opacity:0.8;
	z-index :10000;
}

/*-------------- Home page pending request button--------------*/


.actionbutton{
	-moz-box-shadow:inset 0px 1px 0px 0px #bee2f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f7;
	box-shadow:inset 0px 1px 0px 0px #bee2f7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #26bde3), color-stop(1, #5dd2f5) );
	background:-moz-linear-gradient( center top, #26bde3 5%, #5dd2f5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#26bde3', endColorstr='#5dd2f5');
	background-color:#26bde3;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#fafafa;
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	padding-left: 6px;
    padding-right: 6px;
	text-decoration:none;
	margin-left:10px;
}.actionbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5dd2f5), color-stop(1, #26bde3) );
	background:-moz-linear-gradient( center top, #5dd2f5 5%, #26bde3 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5dd2f5', endColorstr='#26bde3');
	background-color:#5dd2f5;
}.actionbutton:active {
	position:relative;
	top:1px;
}

.applybutton {
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #24bfd4), color-stop(1, #15e6d5) );
	background:-moz-linear-gradient( center top, #24bfd4 5%, #15e6d5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#24bfd4', endColorstr='#15e6d5');
	background-color:#24bfd4;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #f5f5f5;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:9px;
	font-weight:bold;
	cursor:pointer;
	
	padding-left:10px;
	padding-right:10px;
	margin-top:10px;
	text-align:center;
	text-decoration:none;
	text-shadow:1px 1px 0px #969696;
}.applybutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #15e6d5), color-stop(1, #24bfd4) );
	background:-moz-linear-gradient( center top, #15e6d5 5%, #24bfd4 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#15e6d5', endColorstr='#24bfd4');
	background-color:#15e6d5;
}.applybutton:active {
	position:relative;
	top:1px;















































}
.select_candidate{
border:1px solid #ffc826; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 5px;font-size:12px;font-family:arial, helvetica, sans-serif; padding-left:5px;padding-right:5px; text-decoration:none; display:inline-block;text-shadow: 1px 1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #ffd65e; background-image: linear-gradient(to bottom, #ffd65e, #febf04);
 }

.select_candidate:hover{
 border:1px solid #f7b800;
 background-color: #ffc92b; background-image: linear-gradient(to bottom, #ffc92b, #ce9a01);
 }

.select_candidate:active{
position:relative;
top:2px;
}

.datalistHead
	{
	line-height:25px;
	font-size:12px; 
	color:white; 
	border-radius:4px;
	background-color: #307296; 
	background: url(../images/dark_wall.png) repeat right;
	border-bottom:none;
	padding-left:5px;
	}
	 #navlist li
    {
    	display:inline;
    	list-style-type:none;
    	border:solid 1px ;
		padding:8px;
    	height:25px;
    	
    }
    
    
    td[id*='oReportCell']
		{
			width :113%;
		}

.report-fs
		{
		padding:0 5px 15px 5px;
		min-height:20px;
		border-radius:10px;
		border:1px solid #5ec5fc;
		}
		
		.customize_link
		{
			color: #168CB1;
				padding-left: 4px;
			}
			
			.customize_link:hover
		{
			color: #5CD4FA;
		
			}



.maindivaction {
    height: auto;
    margin-bottom: 8px;
    margin-left: 15px;
    margin-top: 13px;
    min-height: 30px;
    width: 99%;
}
.divaction1 {
    height: auto;
    min-height: 30px;
    width: 16%;
    float:left;
}
.divaction2 {
    height: auto;
    min-height: 30px;
    width: 34%;
    float:left;
    text-align:right;
}
.divaction3 {
    height: auto;
    min-height: 30px;
    width: 22%;
    float:left;
    text-align:left;
}
.divaction4 {
    height: auto;
    min-height: 30px;
    width: 26%;
    float:right;
    text-align:right;
}

/*button*/


.btnperformance
{
	/*background:rgb(255, 129, 13);*/
	background:rgb(49, 192, 72);
	cursor: pointer;
	color:#fff;
	padding: 5%;
	text-align: center;
	margin-bottom: 7%;
	border-radius: 6px;
	box-shadow: 1px 1px 1px 1px #CCCCCC;
	-webkit-transition: all.4s ease-in-out;
	-moz-transition: all.4s ease-in-out;
	-o-transition: all.4s ease-in-out;
	transition: all.4s ease-in-out;
	}

.btnperformance:hover
{
	background:#0FABEC;
	color:#fff;

	}
.MainDiv
{
	float: left; 
	width: 100%; 
	height: 40px;
	text-align:right;
}
.B1
{
	float: right; 
	width: 15%; 
	height: 40px;
	direction:rtl;
	text-align:right;

}
.B2
{
	float: right; 
	width: 33%; 
	height: 40px;
	direction:rtl;
	text-align:right;
}
.B3
{
	float: right; 
	width: 15%; 
	height: 40px;
	text-align:right;
	direction:rtl;
	margin-right:4%;
}
.B4
{
	float: right; 
	width: 33%; 
	height: 40px;
	text-align:right;
}
.BInner1
{
	float: right; 
	height: 40px;
	direction:rtl;
	text-align:right;
}
.BInner2
{
	float: right; 
	height: 40px;
	direction:rtl;
	text-align:right;
}
.B1 input[type=text]
{
	float: right; 
	width:80%;

}
.B2  input[type=text]
{
	float: right; 
	width:80%;
}
.B3  input[type=text]
{
	float: right; 
	width:80%;
}
.B4  input[type=text]
{
	float: right; 
	width:80%;
}
.B1 input[type=password]
{
	float: right; 
	width:80%;

}
.B2  input[type=password]
{
	float: right; 
	width:80%;
}
.B3  input[type=password]
{
	float: right; 
	width:80%;
}
.B4  input[type=password]
{
	float: right; 
	width:80%;
}
.B1  input[type=radio]
{ 
	width:5%;

}
.B2 input[type=radio]
{
	width:5%;
}
.B3 input[type=radio]
{
	width:5%;
}
.B4 input[type=radio]
{
	width:5%;
}
.B1 textarea
{
	float: right; 
	width:82%;

}
.B2 textarea
{
	float: right; 
	width:82%;
}
.B3 textarea
{
	float: right; 
	width:82%;
}
.B4 textarea
{
	float: right; 
	width:82%;
}
.B1 select
{
	float: right; 
	height: 25px;
	padding-left:5px;
	padding-right:3px;
	padding-top:3px;
	padding-bottom:3px;
	width:82%;
}
.B2 select
{
	float: right; 
	height: 25px;
	padding-left:5px;
	padding-right:3px;
	padding-top:3px;
	padding-bottom:3px;
	width:82%;
}
.B3 select
{
	float: right; 
	height: 25px;
	padding-left:5px;
	padding-right:3px;
	padding-top:3px;
	padding-bottom:3px;
	width:82%;
}
.B4 select
{
	float: right; 
	height: 25px;
	padding-left:5px;
	padding-right:3px;
	padding-top:3px;
	padding-bottom:3px;
	width:82%;
}

.candidatetoplinks {
    float: right;
    width: 99%;
}
.linkname {
    float: left;
    height: 45px;
    width: 171px;
    padding-top:6px;
}
.linkname h5 {
    color: black;
    margin-left: 5px;
    padding-top: 15px;
}
.linkname h5:hover {
    color: #0592D7;
}
.linkimage {
    float: left;
    height: 50px;
    width: 30px;
    padding-top:6px;
}
.WmCss
{
   /* font-family: Tahoma, MS Sans Serif, Microsoft Sans Serif, MS Serif, sans-serif;
   
    font-size: 11px;*/
    color:Gray;
	padding:2px;
	border: 1px solid #d4effc;
}

.jobhead
{
	color:#3197fc;
	font-size:12px;
	margin-bottom:10px;
	margin-top:10px;
	margin-left:7px;
	
	}
	
.jobsub
{
color:navy;
margin-left:13px;
font-size:11px;
margin-bottom:5px;
	margin-top:5px;
	
	}	
		.announcement
	{
	font-size:12px;
	line-height :22px;
	color:red;	
	}
	
	.hover1:hover
	{
		opacity:0.5;
		
		}
		
		.divJobChart 
		{
			max-width:300%;
		}
		
		
		
		.mainright
		{
			height: 60px;
			margin-left: 11px;
			margin-top: 5px;
			width: 221px;
			}
			.mainright h5
		{
			color:#363636;
			}
			.mainright h5:hover
		{
			color:#1da5e5;
			}
			
			.mainrightimg
		{
			float: left; 
			width: 52px;
			}
			
			.mainrightname
		{
			float: left;
			 width: 130px; 
			 margin-top: 20px;
			 
			}
			
			.mainrightname a
		{
			color:Black;
			font-size:13px;
			 font-weight:bold;
			 
			}
			.mainrightname a:hover
		{
			color:#0FABEC;
			 
			}
			
			
			disabled
			{
				cursor:no-drop;
				}
				
				.showlevel {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
	background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:10px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.showlevel:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
	background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
	background-color:#378de5;
}
.showlevel:active {
	position:relative;
	top:1px;
}