
::-webkit-input-placeholder
{
	color:#178fba;
	
	}

::-moz-placeholder
{
	color:#178fba;
	
	}
	
	:-moz-placeholder
{
	color:#178fba;
	
	}
::-ms-input-placeholder
{
	color:#178fba;
	
	}


input[type=text], input[type=password]
{
	margin: 0px 46px !important;
	position:inherit;
	z-index: 10000;
}


body {
	margin: 0px 0px 0px 0px;
	padding: 0;
	background:url(../images/ecailles.png);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	cursor:url(images/my-mouse-pointer.cur);
	
}

/* Header */

#header-wrapper {
	overflow: hidden;
	margin: 0 auto;
	padding: 0px 0px;
	background:url(../images/ecailles.png);
	width: 100%;
	border-bottom: 1px solid #3ca3de;
}

#header {
	width: 100%;
	height: 130px;
	margin: 0 auto;
	padding: 0px 0px;
}

/* Logo */

#logo {
	float:left;
	
	
	margin-top: 12px;
	margin-left: 32px;
	
}

#logo img
{
	max-width:90%;
	max-height:80%;
	
	}
/* logo1 */
#logo1 {
	float: right;
	
	padding: 55px 0px 0px 0;

	margin-top: 12px;
	padding: 0px 0px 0px 00px;
}



.divPage {
	
	
	width:98%;
	margin:auto;
	padding: 0px;
	color: #8F8F8F;
	height:460px;
	background-repeat:no-repeat;
	/*background-size:100%;
	
	background-position:50% 50%;*/
	
    
}

.divPageArabic {
	
	
	width:98%;
	margin:auto;
	padding: 0px;
	color: #8F8F8F;
	height:460px;
	background-repeat:no-repeat;
	/*background-size:100%;
	
	background-position:50% 50%;*/
	
    
}

.container1Arabic{
	width:57%;
	float:left;
	margin:auto;
	padding: 0px;
	color: #8F8F8F;
	height:460px;	
	background-image:url(../images/login_image_arabic.jpg);
	background-size:95% auto;
	background-position:center;
	background-repeat:no-repeat;
		
	
}
.container1{
	width:57%;
	float:left;
	margin:auto;
	padding: 0px;
	color: #8F8F8F;
	height:460px;	
	background-image:url(../images/login_image_english.jpg);
	background-size:97% auto;
	background-position:center;
	background-repeat:no-repeat;
		
	
}
#container1_1{
	width:53%;
	float:right;
	margin:auto;
	margin-top:3%;
	margin-bottom:4%;
	-webkit-box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
-moz-box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	padding: 0px;
	Background:rgba(0,0,0,0.1);
	color: #fff;
	word-break:break-all;
	height:400px;
	padding:6px;
	border-radius:8px;
	border:1px solid #b5b7b8;
}


#wrapper{
width: 100%;
margin: auto;
/*margin-top: 22%;*/
margin-bottom: 4%;
background:#fff;
color: #6D6F72;
word-break: break-all;
/*height: 312px !important;*/
padding: 30px 7px 2px 16px;
border-radius: 8px;
border: 1px solid #b5b7b8;
-webkit-box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
-moz-box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
}





.login button
{
	background:red;
	
	
	}

/* Footer */

#footerwrapper {

border-top:5px solid #00be9c;
	width:100%;
	margin: 0 auto;
	
	
	background:url(../images/footerbg.png)repeat;
}

#footer {

	
	width:99%;
	margin: 0 auto;
	height:90px;
	
}


#footer p {
padding-top:30px;
	text-align: center;
	font-size: 12px;
	color: #02caa6;
}

#footer a {
	color: #ececeb;
}

#footer a:hover {
	color: #ffffff;
}



/* search */

/*#wrapper2 input
{
  -moz-border-radius: 8px;
 border-radius: 8px;
    border:solid 1px #62e8c8; 
    padding:5px;
	outline:none;
	width:200px;
	height:18px;
	font-size:12px;
	color:#656563;
	margin-left:15px;
	
}*/

.login button
{
	margin-left:30px;width: 140px;
	}

#search1 {
float: right;
width: 140px;
height: 43px;
text-align: center;
-moz-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
-webkit-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
box-shadow: inset 0px 1px 0px 0px #bbdaf7;
background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00be9c), color-stop(1, #07edc4) );
background: -moz-linear-gradient( center top, #00be9c 5%, #378de5 100% );
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
background-color: #00be9c;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
border: 1px solid #03dab4;
display: inline-block;
color: #ffffff;
font-family: 'Roboto Condensed', sans-serif;
font-size: 18px;
font-weight: bold;
padding: 0px 35px;
text-decoration: none;
padding-top: 17px;
text-shadow: 1px 1px 0px #528ecc;
}
#search1:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #07edc4), color-stop(1, #00be9c) );
	background:-moz-linear-gradient( center top, #07edc4 5%, #00be9c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#07edc4;
	color:#293036;
}
#search1:active {
	position:relative;
	top:2px;
}

.mrg-lgn
{
	margin-top: 100px;
    height: 350px;
}







input{
	width: 81%;
	margin-top: 4px;
	padding: 10px 5px 10px 14px;	
	border: 1px solid #29a8dd;

	 text-align:center;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	
			height:35px;
			
}

input[type=text],input[type=password]
{
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	   -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	        box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	        border-radius:20px;
	        -webkit-transition: all.3s ease-in-out;
	-moz-transition: all.3s ease-in-out;
	-o-transition: all.3s ease-in-out;
	transition: all.3s ease-in-out;
	
	}






input[type=checkbox]
{
	width:17px;
	}

input[type=radio]
{
	width:17px;
	}


#wrapper input:not([type="radio"]):active,
#wrapper input:not([type="radio"]):focus{
	border: 1px solid rgba(91, 90, 90, 0.7);
	/*background: rgba(238, 236, 240, 0.0);	*/
	-webkit-box-shadow: 0px 1px 5px 0px rgba(168, 168, 168, 0.9) inset;
	   -moz-box-shadow: 0px 1px 5px 0px rgba(168, 168, 168, 0.9) inset;
	        box-shadow: 0px 1px 5px 0px rgba(168, 168, 168, 0.9) inset;
	        outline:0;
	       border-radius:20px;
	box-shadow: 1px 1px 5px #62c4e7;
	border: 1px solid #62c4e7;
			
} 
#wrapper input:[type="radio"]
{
	
	border: 1px solid rgba(91, 90, 90, 0.7);
	
	-webkit-box-shadow:none;
	   -moz-box-shadow: none;
	        box-shadow: none;
	}

/** the magic icon trick ! **/
[data-icon]:after {
    content: attr(data-icon);
    font-family: 'FontomasCustomRegular';
    color: rgb(106, 159, 171);
    position: absolute;
    left: 10px;
    top: 35px;
	width: 30px;
}

/*styling both submit buttons */
#wrapper p.button input{
	width: 77%;
	cursor: pointer;	
	background:#48A1F3;
	padding:4px;
	font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
	color: #fff;
	font-size: 13px;
	height:35px;	
	border: 1px solid rgb(28, 108, 122);	
	
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 23px;
	   -moz-border-radius: 23px;
	        border-radius: 23px;	
	-webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	        0px 0px 0px 3px rgb(254, 254, 254),
	        0px 5px 3px 3px rgb(210, 210, 210);
	   -moz-box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	        0px 0px 0px 3px rgb(254, 254, 254),
	        0px 5px 3px 3px rgb(210, 210, 210);
	        box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	        0px 0px 0px 3px rgb(254, 254, 254),
	        0px 5px 3px 3px rgb(210, 210, 210);
	-webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
	     -o-transition: all 0.2s linear;
	        transition: all 0.2s linear;
}
#wrapper p.button input:hover{
	background: rgb(40, 137, 154);
}
#wrapper p.button input:active,
#wrapper p.button input:focus{
	background: rgb(40, 137, 154);
	position: relative;
	top: 1px;
	border: 1px solid rgb(12, 76, 87);	
	-webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
	   -moz-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
	        box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
}



/* styling the checkbox "keep me logged in"*/
.keeplogin{
	margin-top: -5px;
}
.keeplogin input,
.keeplogin label{
	display: inline-block;
	font-size: 12px;	
	font-style: italic;
}
.keeplogin input#loginkeeping{
	margin-right: 5px;
}
.keeplogin label{
	width: 80%;
}


/*styling the links to change from one form to another */

p.change_link{
	position: absolute;
	color: rgb(127, 124, 124);
	left: 0px;
	height: 20px;
	width: 551px;
	padding: 17px 30px 20px 30px;
	font-size: 16px	;
	text-align: right;
	border-top: 1px solid rgb(219, 229, 232);
	-webkit-border-radius: 0 0  5px 5px;
	   -moz-border-radius: 0 0  5px 5px;
	        border-radius: 0 0  5px 5px;

}
#wrapper p.change_link a {
	display: inline-block;
	font-weight: bold;
	background: rgb(247, 248, 241);
	padding: 2px 6px;
	color: rgb(29, 162, 193);
	margin-left: 10px;
	text-decoration: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid rgb(203, 213, 214);
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s  linear;
	-o-transition: all 0.4s linear;
	-ms-transition: all 0.4s  linear;
	transition: all 0.4s  linear;
}
#wrapper p.change_link a:hover {
	color: rgb(57, 191, 215);
	background: rgb(247, 247, 247);
	border: 1px solid rgb(74, 179, 198);
}
#wrapper p.change_link a:active{
	position: relative;
	top: 1px;}



#footer p {
	color: #D9DAD9;
	font-size: 13px;
	letter-spacing: 1px;
	line-height: normal;
	margin-top: 8px;
	text-align: center;
	}
	#footer a {
	color: #D9DAD9;
	text-decoration: none;
	}
	#footer a:hover {
	color: #0FABEC;
	text-decoration: none;
	}

.span6{

padding-top: 84px;
padding-left: 317px;
padding-bottom: 5px;
color: rgb(11, 204, 252);
text-decoration: none;}


.span6 a{


color: rgb(250, 97, 25);
text-decoration: none;
 -webkit-transition: all.3s ease-in-out;
	-moz-transition: all.3s ease-in-out;
	-o-transition: all.3s ease-in-out;
	transition: all.3s ease-in-out;
	 outline:none;
	
	
	}

.span6 a:hover{


color: rgb(25, 169, 250);
text-decoration: none;}

/* Styles go here */

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;

}


/* Custom page CSS
-------------------------------------------------- */
.cnr
{
	padding: 0px !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
	width: 100% !important;
}

@media(max-width:760px)
{
.container1
{
	display:none;
background: none;
}	
}
.pull-right
{
	width: 50%;
}
@media(max-width:320px)
{
.pull-right
{
	width: 80%;
}
input[type=text], input[type=password]
{
	margin: 0px 23px !important;
	position:inherit;
	z-index: 10000;
}
}