@font-face {
    font-family: "BebasNeueRegular";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/BebasNeue-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/BebasNeue-webfont.woff") format("woff"), url("fonts/BebasNeue-webfont.ttf") format("truetype"), url("fonts/BebasNeue-webfont.svg#BebasNeueRegular") format("svg");
}

/*html,  {
    height: 100%;
    margin: 0;
    padding: 0;
}*/
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img {
    border: 0 none;
}
address, caption, cite, code, dfn, th, var {
    font-style: normal;
    font-weight: normal;
}
ol, ul {
    list-style: none outside none;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
q:before, q:after {
    content: "";
}
abbr, acronym {
    border: 0 none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    background: url("../images/bgg.jpg") repeat scroll left top #FFFFFF;
    color: #1D3C41;
    font-family: Cambria,Palatino,"Palatino Linotype","Palatino LT STD",Georgia,serif;
    font-size: 15px;
    font-weight: 400;
    overflow-y: scroll;
}
a {
    color: #333333;
    text-decoration: none;
}
.container {
    height: 100%;
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: 80px;
  
}
.clr {
    clear: both;
}
.container > header {
    display: block;
    margin: 0 20px 10px;
    padding: 62px 30px 10px;
    position: relative;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.container > header h1 {
    color: rgba(26, 89, 120, 0.9);
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 35px;
    padding: 0 0 5px;
    position: relative;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.container > header h1 span {
    color: #7CBCD6;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}
.container > header h2 {
    color: #2D6277;
    font-size: 16px;
    font-style: italic;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}
.codrops-top {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.4);
    font-size: 11px;
    line-height: 24px;
    position: relative;
    text-transform: uppercase;
    z-index: 9999;
}
.codrops-top a {
    color: #333333;
    display: block;
    float: left;
    letter-spacing: 1px;
    padding: 0 10px;
    text-shadow: 0 1px 1px #FFFFFF;
}
.codrops-top a:hover {
    background: none repeat scroll 0 0 #FFFFFF;
}
.codrops-top span.right {
    float: right;
}
.codrops-top span.right a {
    display: block;
    float: left;
}
.codrops-demos {
    display: block;
    padding: 14px;
    text-align: center;
}
.codrops-demos span {
    display: inline-block;
    padding-right: 15px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}
.codrops-demos a, .codrops-demos a.current-demo, .codrops-demos a.current-demo:hover {
    background: none repeat scroll 0 0 rgba(104, 171, 194, 0.5);
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    font-style: italic;
    font-weight: 800;
    margin: 0 3px;
    padding: 3px 5px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.codrops-demos a:hover {
    background: none repeat scroll 0 0 #4FA2C4;
}
.codrops-demos a.current-demo, .codrops-demos a.current-demo:hover {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
    color: #68ABC2;
}
