

#container{
	background:url("images/mainBackground.png") no-repeat;
	
	margin: 0px auto;
	padding:0px auto;
	text-align: center;
	z-index:-1;
	display: inline-block;
	 width:100%;
    height:100%;
    display:box;
    box-orient:horizontal;
    box-pack:center;
    box-align:center;
}
.maindivheader
{
	 width:193px;
	}

.homeBox {
	position: relative;
	float: left;
	display: block;
}

#dashimg a:active{
	position: relative;
	top: 2px;
}




/*.homeBox .one_fourth {

	text-align: center;
	overflow: hidden;
	
	background:url("../images/menubg12.png") repeat scroll 0 0 transparent;
	
	border: 1px solid #11A5CA;
	border-radius:50%;
	-moz-box-shadow: 1px 2px 1px #ecebeb;
	-webkit-box-shadow: 1px 2px 1px #cfd0d1;
	height: 108px;
	width: 108px;
	 margin-left: 23px;
    margin-right: 20px;
	
	-webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.homeBox .one_fourth div, .homeBox .last div {
	padding: 10px;

}



*/
/*.....................new menu..................*/

.homeBox .one_fourth 
{

	
text-align: center;
overflow: hidden;
background: url("../images/menubg12.png") repeat scroll 0 0 transparent;
border: 1px solid #11A5CA;
border-radius: 4%;
webkit-box-shadow: 0px 2px 3px rgba(50, 50, 85, 0.6);
-moz-box-shadow:    0px 2px 3px rgba(50, 50, 85, 0.6);
box-shadow:         0px 2px 3px rgba(50, 50, 85, 0.6);
height: 80px;
width: 76px;
  margin-left: 43px;
    margin-right: 0;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
transition: all 0.5s ease;}


.homeBox .one_fourth div, .homeBox .last div {
	padding: 1px;

}

/*.....................new menu..................*/



.one_half, .one_third, .two_thirds, .one_fourth, .three_fourths, .one_fifth, .two_fifth, .three_fifths, .four_fifths {
	position: relative;
	margin: 0;
	margin-right: 3.8%;
	float: left;
	
}

.homeBox .one_fourth img
{filter:none;
 filter:grayscale(0%);
 -moz-filter:grayscale(0%);
 -o-filter:grayscale(0%);
 -ms-filter:grayscale(0%);
	 -webkit-filter:grayscale(0%);
	 webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
transition: all 0.5s ease;
	}


.homeBox .one_fourth img:hover
{filter:gray;
	 filter:grayscale(65%);
 -moz-filter:grayscale(65%);
 -o-filter:grayscale(65%);
 -ms-filter:grayscale(65%);
	 -webkit-filter:grayscale(65%);
	
	}





.homeBox .one_fourth:hover{
border: 1px solid #11A5CA;
background:#6dcff6;
	

	
border-radius:20%;

/*-webkit-transform:rotate(-10deg);
-moz-transform:rotate(-10deg);
-o-transform:rotate(-10deg);
-ms-transform:rotate(-10deg);
transform:rotate(-10deg);*/

    
}


.homeBox .one_fourth:selected{
	background:#69c8fb;

}



.homeBox .one_fourth .boxImage {
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}



.linkhome
{float: right;
    margin-left: 55px;
    margin-top: 28px;
    padding: 0;
    text-align: right;
	
	}
	
.linkhome a:hover
{
	opacity: 0.8;
	}
	
	.linkhome a:active
{
	position:relative;
	top:2px;
	}


.homeBox .one_fourth h5 {
	color: #057396;
	margin: 0 0 10px 0;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	font-size:11px;
} 

.homeBox .one_fourth a{

text-decoration:none;


}

.homeBox .one_fourth:hover h5 {
	position: relative;
	color:#ffffff;
	/*-webkit-animation: moveFromTop 200ms ease;
	-moz-animation: moveFromTop 200ms ease;
	-ms-animation: moveFromTop 200ms ease;*/
}





.homeBox .one_fourth .boxDescription {
	color: #4B4A4A;
	margin: 0 0 10px 0;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}


a.tooltip
{
position:relative;
display:inline;

	
	}

.tooltip:hover:after{
    background: #f0f9ff; /* Old browsers */
	background: -moz-linear-gradient(top,  #f0f9ff 0%, #cbebff 47%, #a1dbff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f9ff), color-stop(47%,#cbebff), color-stop(100%,#a1dbff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* W3C */
	border	  :1px solid #2992f4;
   
    border-radius: 3px;
    bottom:-120px;
    color: #106cc1;
    content: attr(tittle);
    margin-left:-100px;
    padding: 5px 15px;
    position: absolute;
    z-index: 99;
    display:inline-block;
	
    width: auto;
    text-align:center;
    font-size:10px;
    webkit-box-shadow: 0px 2px 3px rgba(50, 50, 85, 0.6);
-moz-box-shadow:    0px 2px 3px rgba(50, 50, 85, 0.6);
box-shadow:         0px 2px 3px rgba(50, 50, 85, 0.6);

}
.tooltip:hover:before{
     /*border: solid;
   border-color: #f0f9ff transparent;*/
    border-width: 0px 6px 6px 6px;
    margin-top: 90px;
    content: "";
   margin-left:60px;
    position: absolute;
    z-index: 99;
}




@-webkit-keyframes moveFromTop {
    from {
        top: -600px;
    }
    to {
      	top: auto;
    }

}

@-moz-keyframes moveFromTop {

    from {
        -moz-transform: translateY(-600%);
    }
    to {
        -moz-transform: translateY(0%);
    }

}

@-ms-keyframes moveFromTop {
    from {
        -ms-transform: translateY(-600%);
    }
    to {
        -ms-transform: translateY(0%);
    }
}



@-webkit-keyframes moveFromBottom {
    from {
        bottom: -400px;
    }
    to {
       	top: auto;
    }
}

@-moz-keyframes moveFromBottom {
    from {
        -moz-transform: translateY(400%);
    }
    to {
        -moz-transform: translateY(0%);
    }
}

@-ms-keyframes moveFromBottom {
    from {
        -ms-transform: translateY(400%);
    }
    to {
        -ms-transform: translateY(0%);
    }
}