
body {
}
#mainwrap {
    height: auto;
    margin: auto;
    padding: 0;
    width: 100%;
}
.t1 {
    width: 100%;
}
.t22 {
    width: 100%;
}
.ta1 {
    float: left;
    height: auto;
    width: 17%;
}
.ta22 {
    float: left;
    height: auto;
    width: 25%;
}
#ta2 {
    float: left;
    height: auto;
    width: 5%;
}
.ta3 {
    float: left;
    height: auto;
    width: 29%;
}
.ta4 {
    float: right;
    height: auto;
    margin-right: 6px;
   
    padding-bottom: 20px;
    width: 29%;
}
.common {
    margin-left: 5px;
}
.innerdivcolon {
    height: 25px;
    width: 40px;
}

.innerdivheaderValue {
    color: black;
    font-family: "verdana";
    font-size: 13px;
    height: 25px;
    width: 250px;
}
.main2 {
    float: left;
    width: 100%;
}
.mainbox1 {
    float: left;
}
.main2 ul {
    list-style: none outside none;
    margin-left: 0;
}
.mainbox1 {
    float: left;
    width: 27%;
}
.mainbox2 {
    float: left;
    width: 49%;
}
#head1 {
    float: left;
    width: 100%;
}
#names h3 {
    color: #FDF8FF;
}
.name1 h3 {
    color: #252626;
    font-size: 16px;
}
#main {
    background: none repeat scroll 0 0 #7ed3fa;
    border-bottom: 4px solid #959696;
    border-radius: 11px 11px 11px 11px;
    border-right: 4px solid #959696;
    float: left;
    padding: 10px;
    width: 100%;
    margin-bottom:20px;
}
#names {
    width: 50%;
}