							
							
								/**************common**************/



body {
  background: url(../images/ecailles.png); 
}

#welcome 
{
	background:url('../images/welcome.png') no-repeat; 

	}


.spanhalf
{
	width: 2.991455%;
	-moz-box-sizing: border-box;
    display: block;
    float: left;
    
    min-height: 30px;
	
	}

.home
{ background: none repeat scroll 0 0 #ABE5FB;
    border: 1px solid #0CB2F2;
    border-radius: 0 20px 0 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 7px;
    text-align: center;
    width: 92%;
    -moz-box-shadow: 10px 10px 1px #ecebeb;
	-webkit-box-shadow: 0px 1px 0px #ecebeb;
     -webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	}
	.home:hover
	{
		border-radius:20px 0px 20px 0px;
		background: none repeat scroll 0 0 #73d8fe;
		text-decoration:none !;
		}

	
	
	
	
	
	.home_mr
{ background: none repeat scroll 0 0 #ABE5FB;
    border: 1px solid #0CB2F2;
    border-radius:50%;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 25px;
    text-align: center;
    width: 92%;
    -moz-box-shadow: 10px 10px 1px #ecebeb;
	-webkit-box-shadow: 0px 1px 0px #ecebeb;
     -webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	}
	.home_mr:hover
	{
		border-radius:20%;
		background: none repeat scroll 0 0 #73d8fe;
		text-decoration:none !;
		}
	
	
	
	
	
	
	.homebg
	{  background:no-repeat; 
	
	}
	
	.homename
	{  background:no-repeat; 
	   width :50%;
	 
	}	
	
	
	.contentpage
	{
	
	background:url(../images/fancy_deboss.png) ;
	border-radius: 6px 6px 6px 6px; 
	border-top: 1px solid #0FABEC;
	border-bottom: 1px solid #0FABEC;
	height:auto;
	min-height:850px;
	overflow-x:hidden;
	overflow-y:auto;
	

	}


	.rightsidemenu
	{
		
	height:auto;
	background:url("../images/fancy_deboss.png") repeat scroll 0 0 transparent;
    border-bottom: 1px solid #0FABEC;
    border-radius: 6px 6px 6px 6px;
    border-top: 1px solid #0FABEC;
    position:absolute;
    width:17%;
    
		}
		
		rightmenu22{
		
	height:auto;
	
    width:100%;
    
		}
		
	.rightsidemenu h5
	{
		color:#555657;
		padding-top:10px;
		
		}	
		
		
		.rightsidemenu h5:hover
	{
		color:#119bea;
		padding-top:10px;
		
		}	
		

a img:hover
{
	opacity:.5;
	
	}

a img:active
{
	 position:relative;
	 top:2px;
	
	}
a:hover
{
	 text-decoration:none!important;
	
	}
a
{
	outline:none!important;
	}

#navigation {
  display: block;
  
  z-index: 1;
  display: inline-block;
  width: 100%;
  height: 55px;
  top: 0;
  left: 0;
  box-shadow: 0 1px 6px #2d2d2d;
  background: rgba(250,250,250,0.9);
  border-top: 1px solid #e6e7e8;
  border-bottom: 1px solid #e6e7e8;
}
#navbar .navlinks {
  list-style: none;
}

#navbar .nav {
  display: inline-block;
  margin-right: 5px;
}
#navbar .navlinks li {
  display: inline-block;
  margin-right: 5px;
}
#navbar .navlinks li a {
  display: block;
  float: left;
  padding: 0 12px;
  line-height: 55px;
  font-weight: bold;
  color: #777;
}
#navbar .navlinks li a:hover {
  text-decoration: none;
  color: #444;
  background: #fcfcfc;
}


#heading {
  display: block;
  width: 100%;
  height: 380px;
  padding: 20px 0;
  background: url('../images/bg-snes-closeup-x500.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-box-shadow: inset 0 -4px 9px -3px #000;
  -moz-box-shadow: inset 0 -4px 9px -3px #000;
  box-shadow: inset 0 -4px 9px -3px #000;
}
#heading h1, #heading h2, #heading h3, #heading h4, #heading h5, #heading p {
  text-shadow: 0 1px 3px rgba(0,0,0,0.6), 0 0 30px rgba(0,0,0,0.25);
}

#heading h1 {
  font-size: 90px;
  line-height: 105px;
  letter-spacing: -1px;
  color: #fff;
}

#heading h4 {
  font-size: 30px;
  line-height: 40px;
  color: #fff;
  margin-bottom: 25px;
}



#footer {
  display: block;
  width: 100%;
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}

h5
{

color: rgb(21, 85, 155);}



.btn1
{
	display:none;
	
	}


.btn1
{padding:4px 10px 4px;
 font-weight:normal;
 -webkit-border-radius:4px;
 -moz-border-radius:4px;
 border-radius:4px;
  background: #feffe8; /* Old browsers */
background: -moz-linear-gradient(top,  #feffe8 0%, #d6dbbf 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffe8), color-stop(100%,#d6dbbf)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #feffe8 0%,#d6dbbf 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #feffe8 0%,#d6dbbf 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #feffe8 0%,#d6dbbf 100%); /* IE10+ */
background: linear-gradient(to bottom,  #feffe8 0%,#d6dbbf 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffe8', endColorstr='#d6dbbf',GradientType=0 ); /* IE6-9 */




  cursor:pointer;
  
 }





/*.contentimage
{
	background-image:url(../images/freelance-writer1.jpg);
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
	
	}






