/* Reset */
p,h1,h2,h3,h4,h5,ul,ol {margin:0; padding:0; list-style:none; border:none;}
/* End Reset */



/* Colors */
.color-yellow {background:#f2bc00;}
.color-red    {background:#dd0000;}
.color-blue   {background:#148ea4;}
.color-white  {

background: #f5f6f6; /* Old browsers */
background: -moz-linear-gradient(top,  #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f6f6), color-stop(21%,#dbdce2), color-stop(49%,#b8bac6), color-stop(80%,#dddfe3), color-stop(100%,#f5f6f6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */
border:1px solid #8395a4;

}
.color-orange {background:#f66e00;}
.color-green  {background:#8dc100;}
.color-yellow h3,
.color-white h3,
.color-green h3
	{color:#000;}
.color-red h3,
.color-blue h3,
.color-orange h3
	{color:#FFF;}

#columns .column {
    float: left;
    width: 50%;
		/* Min-height: */
		min-height: 400px;
		height: auto !important; 
		height: 400px;
}

#columns22 .column22 {
    float: left;
    width: 99%;
		/* Min-height: */
		min-height: 400px;
		height: auto !important; 
		height: 400px;
}
/* Column dividers (background-images) : */
	
	
#columns #column1 .widget { margin: 30px 10px 0 10px; }
#columns #column3 .widget { margin: 30px 10px 0 10px; }
#columns .widget {
    margin: 30px 20px 0 5px;
    padding: 2px;
   
    border-radius: 5px 5px 5px 5px;
  
}
#columns .widget .widget-head {
    color: #000;
    overflow: hidden;
    width: 100%;
    height: 30px;
    line-height: 30px;
}
#columns .widget .widget-head h3 {
    padding: 0 5px;
    float: left;
    font-size :12px;
    color:#4f4f4d;
    
    
}
#columns .widget .widget-content {
    background: #fff ;
    border-radius: 5px 5px 5px 5px;
	
    padding: 0 5px;
    color: #000;
    border-top:solid 1px #8e9ba4;
    line-height: 2.2em;
    overflow: hidden;
}
#columns .widget .widget-content p {
    padding: 0.8em 0;
    
}
#columns .widget .widget-content img {
    float: right;
    margin: 10px;
    border: 1px solid #FFF;
}
#columns .widget .widget-content pre {
    padding: 0.5em 5px;
    color: #EEE;
    font-size: 12px;
}
#columns .widget .widget-content ul {
    padding: 5px 0 5px 20px;
    list-style: disc;
}
#columns .widget .widget-content ul li {padding: 3px 0;}
#columns .widget .widget-content ul.images {
    padding: 7px 0 0 0;
    list-style: none;
    height: 1%;
}
#columns .widget .widget-content ul.images li {
    display: inline;
    float: left;
}
#columns .widget .widget-content ul.images img {
    display: inline;
    float: left;
    margin: 0 0 7px 7px;
}
/* End Columns section */
/* start Columns22 section */

#columns22 #column1 .widget { margin: 30px 10px 0 10px; }
#columns22 #column3 .widget { margin: 30px 10px 0 10px; }
#columns22 .widget {
    margin: 30px 20px 0 5px;
    padding: 2px;
   
    border-radius: 5px 5px 5px 5px;
  
}
#columns22 .widget .widget-head {
    color: #000;
    overflow: hidden;
    width: 100%;
    height: 30px;
    line-height: 30px;
}
#columns22 .widget .widget-head h3 {
    padding: 0 5px;
    float: left;
    font-size :12px;
    color:#4f4f4d;
    
    
}
#columns22 .widget .widget-content {
    background: #fff ;
    border-radius: 5px 5px 5px 5px;
	
    padding: 0 5px;
    color: #000;
    border-top:solid 1px #8e9ba4;
    line-height: 2.2em;
    overflow: hidden;
}
#columns22 .widget .widget-content p {
    padding: 0.8em 0;
    
}
#columns .widget .widget-content img {
    float: right;
    margin: 10px;
    border: 1px solid #FFF;
}
#columns22 .widget .widget-content pre {
    padding: 0.5em 5px;
    color: #EEE;
    font-size: 12px;
}
#columns22 .widget .widget-content ul {
    padding: 5px 0 5px 20px;
    list-style: disc;
}
#columns22 .widget .widget-content ul li {padding: 3px 0;}
#columns22 .widget .widget-content ul.images {
    padding: 7px 0 0 0;
    list-style: none;
    height: 1%;
}
#columns22 .widget .widget-content ul.images li {
    display: inline;
    float: left;
}
#columns22 .widget .widget-content ul.images img {
    display: inline;
    float: left;
    margin: 0 0 7px 7px;
}
/* End Columns22 section */