

#container{
	background:url("images/mainBackground.png") no-repeat;
	
	margin: 0px auto;
	padding:0px auto;
	text-align: center;
	z-index:-1;
	display: inline-block;
	 width:100%;
    height:100%;
    display:box;
    box-orient:horizontal;
    box-pack:center;
    box-align:center;
}
.maindivheader
{
	 width:193px;
	}

.homeBox {
	position: relative;
	float: left;
	display: block;
	margin-bottom:10px;
}

#dashimg a:active{
	position: relative;
	top: 2px;
}
.homeBox .one_fourth {

	text-align: center;
	overflow: hidden;
	
	background:url("../images/orange_fourth.png") repeat scroll 0 0 transparent;
	
	border: 1px solid #17a7dd;
border-radius: 50%;
	-moz-box-shadow: 1px 2px 1px #ecebeb;
	-webkit-box-shadow: 1px 2px 1px #cfd0d1;
	height: 120px;
width: 120px;
margin-left: 64px;
margin-right: 14px;
	
	-webkit-transition: background 0.5s linear;
	-moz-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
	transition: background 0.5s linear;
	
	
	
	-webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}



.one_half, .one_third, .two_thirds, .one_fourth, .three_fourths, .one_fifth, .two_fifth, .three_fifths, .four_fifths {
	position: relative;
	margin: 0;
	margin-right: 3.8%;
	float: left;
	
}

.homeBox .one_fourth div, .homeBox .last div {
	padding: 6px;
	padding-top:15px;

}



.homeBox .one_fourth:hover{
	
	border-radius: 20%;
	


 
}

.homeBox .one_fourth:selected{
	background:#69c8fb;

}



.homeBox .one_fourth .boxImage {
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}



.linkhome
{float: right;
    margin-left: 55px;
    margin-top: 28px;
    padding: 0;
    text-align: right;
	
	}
	
.linkhome a:hover
{
	opacity: 0.8;
	}
	
	.linkhome a:active
{
	position:relative;
	top:2px;
	}


.homeBox .one_fourth h5 {
	color: #4B4A4A;
	margin: 0 0 10px 0;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	font-size:11px;
	
} 

.homeBox .one_fourth a{

text-decoration:none;


}

.homeBox .one_fourth:hover h5 {
	position: relative;
	color:#108dbc;
	/*-webkit-animation: moveFromTop 200ms ease;
	-moz-animation: moveFromTop 200ms ease;
	-ms-animation: moveFromTop 200ms ease;*/
}





.homeBox .one_fourth .boxDescription {
	color: #4B4A4A;
	margin: 0 0 10px 0;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}







@-webkit-keyframes moveFromTop {
    from {
        top: -600px;
    }
    to {
      	top: auto;
    }

}

@-moz-keyframes moveFromTop {

    from {
        -moz-transform: translateY(-600%);
    }
    to {
        -moz-transform: translateY(0%);
    }

}

@-ms-keyframes moveFromTop {
    from {
        -ms-transform: translateY(-600%);
    }
    to {
        -ms-transform: translateY(0%);
    }
}



@-webkit-keyframes moveFromBottom {
    from {
        bottom: -400px;
    }
    to {
       	top: auto;
    }
}

@-moz-keyframes moveFromBottom {
    from {
        -moz-transform: translateY(400%);
    }
    to {
        -moz-transform: translateY(0%);
    }
}

@-ms-keyframes moveFromBottom {
    from {
        -ms-transform: translateY(400%);
    }
    to {
        -ms-transform: translateY(0%);
    }
}