




#popupmainwrap
{
	

height:auto;
width:auto;

}
#popupmain{

background: #a9e4f7; /* Old browsers */
background: -moz-linear-gradient(top,  #a9e4f7 0%, #0fb4e7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9e4f7), color-stop(100%,#0fb4e7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a9e4f7 0%,#0fb4e7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a9e4f7 0%,#0fb4e7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a9e4f7 0%,#0fb4e7 100%); /* IE10+ */
background: #a9e4f7; /* W3C */
	border-radius: 7px;
	height: auto;
	width: 400px !important;
	padding-top: 4px;
	padding-bottom: 5px;
	border: 1px solid rgb(20, 156, 209);
	-moz-box-shadow: 3px 3px 4px #eee;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	box-shadow: 3px 3px 4px rgb(94, 91, 91);/* IE6-9 */
}
#header11{
margin:auto;
padding:0px;
width:99%;
height: 36px;
background: #a9e4f7; /* Old browsers */
background: -moz-linear-gradient(top,  #a9e4f7 0%, #0fb4e7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9e4f7), color-stop(100%,#0fb4e7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a9e4f7 0%,#0fb4e7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a9e4f7 0%,#0fb4e7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a9e4f7 0%,#0fb4e7 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a9e4f7 0%,#0fb4e7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#0fb4e7',GradientType=0 ); /* IE6-9 */

}
#hbox1{

width:80%;

float:left;
margin:auto;
padding:0px;
}
#hbox2{

width:16%;

float:right;
margin:auto;
padding:0px;
}

#contentwrap{
width: 100%;
height:auto;

}
#content{
width:99%;
height:auto;
padding-top:10px;
text-align:center;
background:#e8f7fd;
margin: auto;
}
#footerwrapper{
width: 100%;

}
#footer11{

width:99%;
height:45px;
font-size:12px;


margin: auto;
background: #fcfff4; /* Old browsers */
background: -moz-linear-gradient(top,  #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(40%,#dfe5d7), color-stop(100%,#b3bead)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */
border-top: 1px solid rgb(229, 243, 253);

}
#toolbar{

width:99%;
height:32px;

margin:auto;
padding:0px;
background: #fcfff4; /* Old browsers */
background: -moz-linear-gradient(top,  #fcfff4 0%, #e9e9ce 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(100%,#e9e9ce)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fcfff4 0%,#e9e9ce 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fcfff4 0%,#e9e9ce 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fcfff4 0%,#e9e9ce 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fcfff4 0%,#e9e9ce 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=0 ); /* IE6-9 */

}
#close1{

float:right; 
}

#close1:active
{
position: relative;
	top: 2px;

}
#close1:hover
{
opacity:.8;

}


#buttons
{
float:right;
padding-top:7px;
padding-right:5px;
}
.btnsubmit {
    background: none repeat scroll 0 0 #2AB0E3;
    border: 1px solid #1C6C7A;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 6px 4px rgba(0, 0, 0, 0.07) inset, 0 0 0 3px #FEFEFE, 0 5px 3px 3px #D2D2D2;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 4px 5px 4px 4px;
  
    transition: all 0.2s linear 0s;
    
}
#headername{
color:white;
font-size:18px;
padding-left:3px;
padding-top:3px;

}
#toolbar img{

padding-left:3px;
padding-right:3px;

padding-top: 9px;
	width: 11px;
}
.imgbuttons{

padding-right:5px;




}
#imgbuttonss{
width:100%;
padding-right:6px;
padding-left:20px;
padding-top:7px;



}
.navimgbutton
{
	float: left; 
	width: 33%; 
	padding-top:7px;
	padding-left:4px;
	
	
	}


.popupbutton
{
	-moz-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
	box-shadow: inset 0px 1px 0px 0px #bbdaf7;
	background: none repeat scroll 0 0 #2AB0E3;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr= '#79bbff' , endColorstr= '#0080ff' );
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #84bbf3;
	display: inline-block;
	color: #ffffff;
	cursor: pointer;
	font-family: arial;
	font-size: 11px;
	padding: 4px 9px;
	text-decoration: none;
	text-shadow: 1px 1px 1px #528ecc;
}.popupbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0080ff), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #0080ff 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0080ff', endColorstr='#79bbff');
	background-color:#0080ff;
}.popupbutton:active {
	position:relative;
	top:1px;
}







