﻿body {
}
.trLeft
{
	vertical-align:top;
	line-height:25px;
	font-family: Verdana;
    font-size: 12px;
    font-weight: 200;
    text-align:left;
    padding-left:10px;
}
.trRight
{
	vertical-align:middle;
	line-height:25px;
	font-family: Verdana;
    font-size: 12px;
    font-weight: 200;
    text-align:left;
}
.firstTrLeft
{
	line-height:25px;
	background-position:left top;
	background-repeat:no-repeat;
	font-family: Verdana;
    font-size: 12px;
    font-weight: 200;
    text-align:left;
}
.firstTrRight
{
	line-height:25px;
	background-position:right top;
	background-repeat:no-repeat;
	font-family: Verdana;
    font-size: 12px;
    font-weight: 200;
    text-align:left;
}

.trRight, .firstTrLeft, .firstTrRight
{
	padding: 5px;
}
/* ......for candidates.... */
.divhead 
{
	float: left;
	width: 98%;
	padding-top:10px;
}
.divleft
{
	float: left;
	width: 16%;
	height: 29px;
	vertical-align:middle;
    line-height:15px;
    font-family: Verdana;
    font-size: 12px;
    font-weight: 200;
    text-align:left;
    padding-left:10px;
    
}
.divright
{
	float: left; 
	width: 225px; 
	height: 29px;
	vertical-align:top;
    line-height:25px;
    font-family: Verdana;
    font-size: 12px;
    font-weight: 200;
    text-align:left;
}

        