@charset "utf-8";
/* CSS Document */


iframe{
	background-color:#FFF;	}

h4 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000;
	padding:0px;
	margin:0;
	text-align:left;
}

/* Links */
a:link, a:visited { 
	text-decoration: none;
	color: #AE855C;	
}
a:hover {
		color: #f30c25;	
}
a.more-link {
	padding-bottom: 2px;
	font-weight: bold;	
	border-bottom: 1px dotted #AE855C;	
}
a:hover.more-link {
	text-decoration: none;
}

.toplinks{font-family:Arial, Helvetica, sans-serif; font-size:11px; float:right; margin:10px 10px 0px 0px;
position: static; text-transform:none; width:195px; height:25px; }

.tablinks{ padding:0px 0px 0px 10px; font-family:Arial, Helvetica, sans-serif; font-size:10px; float:left; margin:0px 0px 0px 0px; width:auto;
 text-transform:uppercase; color:#4e4e4e; font-weight:bold;}
/*wrap*/


#header-wrap{width: 973;
	background: #fff url(../images/bg.jpg)  repeat-x ;	
	margin: 0; padding: 0; }
	


/*  navigation  */
#header #nav {
	position: relative;
	margin: 0;
	padding: 1px 0 0 0 ;
	width: 973px;
	float:left;
	height: 28px;
	
}
#header #nav ul {
	float: left;	
	list-style: none;	
	margin: 0px;
	height: 29px;
	padding: 0 0 0 10px;					
}
#header #nav ul li {
	float: left;
	margin: 0; padding: 0 0 0 10px;		
}
#header #nav ul  a {
	float: left;
	margin: 0;
	padding: 0 15px 0 5px;
	color: #fff;
	font: bold 11px/33px 'Trebuchet MS', 'Helvetica Neue', Arial, Sans-Serif;
	text-transform: uppercase;	
	
}
#header #nav ul li a:hover, 
#header #nav ul li a:active {
	border: none;
	color: #4dbbf7;
	background: transparent;
}
#header #nav ul li#current {
	background: transparent url(../images/left-tab.gif) no-repeat;	
}
#header #nav ul li#current a {	
	color: #444;
	background: transparent url(../images/right-tab.gif) no-repeat right top;	
}


/* UL Menu*/

ul#menu
{
	margin:0;
	padding:0;
	list-style-type:none;
	width:auto;
	position:relative;
	display:block;
	height:30px;
	font-size:10px;
	font-weight:bold;
	text-transform:uppercase;
	background: url(../images/tab_bg.jpg) repeat-x;
	font-family:Arial, Helvetica, sans-serif;
	
}

ul#menu li
{
	display:block;
	float:left;
	margin:0;
	padding:0;
}
	
ul#menu li a
{
	display:block;
	float:left;
	color:#000;
	text-decoration:none;
	font-weight:bold;
	padding:0px;
	margin:4px 10px 0 10px;
}
	
ul#menu li a:hover
{	
	color:#175e85;
	height:22px;
	background:transparent url(images/nav_bg.png) 0px 0px no-repeat;	
	border-bottom:#3779c4 3px solid;	
}
	

ul#menu li a.current
{
	display:inline;
	height:22px;
	background:transparent url(images/nav_bg.png) 0px -30px no-repeat;	
	float:left;
	margin-left:10px;
	border-bottom:#2a5e87 3px solid;
	color:#2a5e87;}

.mainleftclm {
	font-family:Arial, Helvetica, sans-serif;
	height:32px;
	font-size:11px;
	color:#000;
	padding-left:10px;
	background:#d6eaf3;
	border-bottom:dotted 1px #307296;
	vertical-align:middle;}
	
.mainleftclmcheckbox {
	font-family:Arial, Helvetica, sans-serif;
	height:32px;
	font-size:11px;
	color:#000;
	background:#d6eaf3;
	border-bottom:dotted 1px #307296;
	vertical-align:middle;}

.mainrightclm {
	font-family:Arial, Helvetica, sans-serif;
	height:32px;
	font-size:11px;
	color:#000;
	padding-left:10px;
	vertical-align:middle;
	background-color: #e9f4fa;
	border-bottom:dotted 1px #307296;}
	
.mainrightclm_white {
	font-family:Arial, Helvetica, sans-serif;
	height:40px;
	font-size:12px;
	color:#000;
	padding-left:10px;
	vertical-align:middle;
	background-color: #FFF;
	border-bottom:dotted 1px #307296;}
	
.mainrightclm_white_b {
	font-family:Arial, Helvetica, sans-serif;
	height:6px;
	font-size:12px;
	color:#000;
	vertical-align:middle;
	background-color: #FFF;
	border-bottom:dotted 1px #307296;}	
	
.mainrightclm_nopadding {
	font-family:Arial, Helvetica, sans-serif;
	height:40px;
	font-size:12px;
	color:#000;
	vertical-align:middle;
	background-color: #FFF;
	border-bottom:dotted 1px #307296;}
	
	
.applnform_left{
	font-family:Arial, Helvetica, sans-serif;
	height:40px;
	font-size:12px;
	color:#000;
	padding-right:10px;
	vertical-align:middle;
	background-color: #FFF;
	border-bottom:dotted 1px #307296;}

.sideclmheading
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	padding-left:10px;
}

.date
{
	height:28px;
	font-size:12px; 
	font-family:Arial,Helvetica, sans-serif; 
	color:#FFF; 
	background-color: #307296; 
	background: url(../images/tablehead_bg.jpg) repeat right;}
	
.datesearchcan
{
	height:40px;
	font-size:13px; 
	font-family:Arial,Helvetica, sans-serif; 
	color: #000;
	background:#d6eaf3;
	border-bottom:dotted 1px #307296;}

.datesearchcan_light
{
	height:40px;
	font-size:13px; 
	font-family:Arial,Helvetica, sans-serif; 
	color: #000;
	padding: 0 0 0 10px;
	background:#e9f4fa ;	
	border-bottom:dotted 1px #307296;}
	
.datesearchcan_light_curve
{
	height:40px;
	font-size:13px; 
	font-family:Arial,Helvetica, sans-serif; 
	color: #000;
	padding: 0 0 0 10px;
	background:#e9f4fa url(../images/roundright_white.gif);
	background-position:right top;
	background-repeat:no-repeat;
	border-bottom:dotted 1px #307296;}
	
.Activity 
{
	height:28px;
	font-size:12px; 
	font-family:Arial, Helvetica, sans-serif; 
	color:#FFF; 
	background: url(../images/tablehead_bg.jpg) repeat right;
	padding-left:10px;
	border-left: solid #e9f4fa 1px; }

.Activitycorner 
{
	height:28px;
	font-size:12px; 
	font-family:Arial, Helvetica, sans-serif; 
	color:#FFF; 
	background: url(../images/tablehead_bg.jpg) repeat right;}
	
.Title{
	width:200px;
	height:24px;
	float:left;
	position:relative;
	margin: 10px 0 0 5px;
	padding:10px 0 0 0;}
	
.titleicon{
	width:32px;
	height:32px;
	float:left;
	position: relative;
	margin:10px 0 0 10px;
	}
	
.Title_right{
	width:200px;
	height:24px;
	float:left;
	position: absolute;
	left:601px;
	margin: 10px 0 0 5px;
	padding: 0 0 0 0;
	top: 218px;
}
	
.titleicon_right{
	width:32px;
	height:32px;
	float:left;
	left:555px;
	position: absolute;
	margin: 0px 0 0 10px;
	top: 218px;
	}
.test
{
	background-image: url( '../images/bodybg1.gif' );
}
.report-filter
{
	/*background-color:#f0f0f0;
	border:solid 1px #ccc;
	padding:2px 5px;*/
	margin-bottom:10px;
}
.iframe
{
	width:100%;
	border:0;
}
.report-fs
{
	padding:0 5px 15px 5px;
	min-height:20px;
}
#filter-cotainer { 
	background-color: #f3f8fb;
	text-align:left;	
	border-radius: 10px;
	
}

.filter-legend
{
	margin-left:7px;
	padding:1px 2px 1px 7px;
	background-color: #3888B4;
	border:solid 1px #eee;
}
.filter-show
{
	height:20px;
	background : url(../images/down.png) no-repeat 2px 2px;
	border-radius: 4px;
	line-height:20px;
	-moz-border-radius: 4px;
	color:#FFF;
}
.filter-hide
{
	height:20px;
	background : url(../images/up.png) no-repeat 2px 2px;
	border-radius: 4px;
	line-height:20px;
	-moz-border-radius: 4px;
	color:#FFF;
}
.filter-hide, .filter-show
{
	padding-top:2px;
	padding-bottom:2px;
	padding:2px 5px 5px 20px;
}
.report
{
	width:100%;
	height :100%
}