.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	cursor: default;
}

.ch-info-wrap, 
.ch-info{
	position: absolute;
	width: 180px;
	height: 180px;
	border-radius: 50%;
}

.ch-info-wrap {
	top: 10px;
	left: 10px;
	background: #f9f9f9 url(../images/bgggg.jpg);
	box-shadow: 
		0 0 0 20px rgba(255,255,255,0.2), 
		inset 0 0 3px rgba(115,114, 23, 0.8);

}

.ch-info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-position: center center;
	
	-webkit-backface-visibility: hidden; /*Just for webkit to have a smooth font*/
}

.ch-info .ch-info-front {
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.ch-info .ch-info-back {

	opacity: 0;

	background: #cff1ff;
	pointer-events: none;
	
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);
	
	-webkit-transition: all 0.4s ease-in-out 0.2s;
	-moz-transition: all 0.4s ease-in-out 0.2s;
	-o-transition: all 0.4s ease-in-out 0.2s;
	-ms-transition: all 0.4s ease-in-out 0.2s;
	transition: all 0.4s ease-in-out 0.2s;
}

.ch-img-1 { 
	background-image: url(../images/dashboard.jpg);
}

.ch-img-2 { 
	background-image: url(../images/employee.jpg);
}

.ch-img-3 { 
	background-image: url(../images/candidate.jpg);
}
.ch-img-4 { 
	background-image: url(../images/ess.jpg);
}

.ch-img-5{ 
	background-image: url(../images/reports.jpg);
}

.ch-img-6{ 
	background-image: url(../images/settings.jpg);
}
.ch-img-7 { 
	background-image: url(../images/sendmail.jpg);
}
.ch-img-8 { 
	background-image: url(../images/logout.jpg);
}
.ch-img-9 { 
	background-image: url(../images/performance.jpg);
}
.ch-img-10 { 
	background-image: url(../images/training.jpg);
}

.ch-info h3 a{
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18px;
	margin: 0 8px;
	padding: 40px 0 0 0;
	height: 80px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

/*.ch-info p {
	color: #fff;
	padding: 70px 0px 0;
	font-style: italic;
	margin: 0 30px;
	font-size: 17px;
	
}*/

.ch-info p  {
	display: block;
	color: #019cdc;
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 1px;
	padding-top: 68px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info a:hover {
	color: #003366;
}

.ch-item:hover .ch-info-front {
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	
	opacity: 0;
} 

.ch-item:hover .ch-info-back {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	
	opacity: 1;
	pointer-events: auto;
}