
a {
    outline: medium none;
}
a {
    text-decoration: none;
}
#cssmenu {
    float: left;
    margin-right: 25px;
}
#cssmenu > ul {
    line-height: 1.5;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
#cssmenu > ul {
    display: block;
    position: relative;
    width: 140px;
}
#cssmenu > ul li {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    width: 140px;
}
#cssmenu > ul li a {
    background: url("../images/dark_wall.png") repeat scroll 0 0 transparent;
    border-bottom: 1px solid #1893C8;
    border-top: 1px solid #B6EAFE;
    color: #FFFFFF;
    display: block;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 11px;
    font-weight: 300;
    margin: 0;
    padding: 11px 20px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 140px;
}
#cssmenu > ul li:first-child > a {
    border-top: 0 none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
#cssmenu > ul li:last-child > a {
    border-bottom: 0 none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
#cssmenu > ul li > a:hover, #cssmenu > ul li:hover > a {
    background: url("../images/hover.png") repeat scroll 0 0 transparent;
    box-shadow: 1px 1px 1px 1px #CCCCCC;
    color: #0D79A9;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
#cssmenu > ul .has-sub > a:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent transparent #FFFFFF;
    border-image: none;
    border-style: solid;
    border-width: 4px;
    content: "";
    height: 0;
    position: absolute;
    right: 10px;
    top: 16px;
    width: 0;
}
#cssmenu > ul .has-sub > a:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent transparent #FFFFFF;
    border-image: none;
    border-style: solid;
    border-width: 4px;
    content: "";
    height: 0;
    position: absolute;
    right: 10px;
    top: 17px;
    width: 0;
}
#cssmenu > ul li > a:hover:after, #cssmenu > ul li:hover > a:after {
    border-left: 4px solid #FFFFFF;
}
#cssmenu > ul li > a:hover:before, #cssmenu > ul li:hover > a:before {
    border-left: 4px solid rgba(0, 0, 0, 0.25);
}
#cssmenu > ul li.selected a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../images/hover.png") repeat scroll 0 0 transparent;
    border-color: transparent transparent transparent #30AFD3;
    border-image: none;
    border-style: solid;
    border-width: 4px;
    color: #0D79A9;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    width: 132px;
}
#cssmenu > ul ul {
    left: 180px;
    opacity: 0;
    padding-left: 5px;
    position: absolute;
    top: -9999px;
    transition: opacity 0.3s ease-in 0s;
}
#cssmenu > ul li:hover > ul {
    opacity: 1;
    top: 0;
}



/**********************************************New dropdown menu****************************************/






ul.dark_menu {
    font-family: Arial;
    font-size: 14px;
    line-height: 14px;
    list-style: none outside none;
    padding: 0;
}
ul.dark_menu:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
ul.dark_menu li {
    float: left;
    margin: 0 0 0 10px;
    position: relative;
}
ul.dark_menu li:first-child {
    margin: 0;
}
ul.dark_menu li a, ul.dark_menu li a:link {
    background: url("../images/dark_wall.png") repeat scroll 0 0 transparent;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    display: block;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 300;
    padding: 10px 26px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease 0s;
}
ul.dark_menu li a:hover {
    background: url("../images/dark_wall.png") repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease 0s;
}
ul.dark_menu li a.selected, ul.dark_menu li a:active {
    background: none repeat scroll 0 0 #282321;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6) inset, 0 1px 0 #5E524F;
    color: #FFFFFF;
    transition: all .5s ease 0s;
}
ul.dark_menu li ul {
    display: none;
}
ul.dark_menu li ul:before {
    content: " ";
    display: block;
    height: 10px;
    left: 0;
    position: absolute;
    top: -10px;
    width: 100%;
    z-index: 1500;
}
ul.dark_menu li:hover ul {
    background: url("../images/dark_wall.png") repeat scroll 0 0 transparent;
    border-radius: 4px 4px 4px 4px;
    display: block;
    left: 0;
    list-style: none outside none;
    padding: 5px 0;
    position: absolute;
    top: 44px;
    z-index: 1000;
}
ul.dark_menu li ul li {
    border-bottom: 1px solid #23718A;
    border-top: 1px solid #AAE3F6;
    float: none;
    margin: 0 10px;
}
ul.dark_menu li ul li:first-child {
    border-top: 0 none;
    margin: 0 10px;
}
ul.dark_menu li ul li:last-child {
    border-bottom: 0 none;
}
ul.dark_menu li ul li a, ul.dark_menu li ul li a:link {
    background: none repeat scroll 0 0 transparent;
    border-radius: 0 0 0 0;
    box-shadow: 0 0 0 transparent;
    color: #FFFFFF;
    display: block;
    padding: 10px 20px 10px 5px;
    white-space: nowrap;
}
ul.dark_menu li ul li a:hover {
    background: url("../images/hover.png") repeat scroll 0 0 transparent;
    color: #1287A4;
    text-decoration: none;
}
