﻿<%@ Page Language="C#" MasterPageFile="~/Master/ESSMaster.master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="Public_Default" Title="Untitled Page" %>

<asp:Content ID="Content1" ContentPlaceHolderID="public_content" Runat="Server">
   
    
    <asp:DataList ID="DataList1" runat="server">
    <HeaderTemplate >
    </HeaderTemplate>
    <ItemTemplate >
        <table style="width: 100%;">
            <tr>
                <td>
                  '<%#Eval("Name") %>'
                </td>
               
            </tr>
          
            
        </table>
    </ItemTemplate>
    </asp:DataList>
    <asp:DataPager ID="DataPager1"  PageSize ="2"   runat="server"  PagedControlID ="DataList1">
        <Fields>
            <asp:NextPreviousPagerField ButtonType="Button" ShowFirstPageButton="True" 
                ShowLastPageButton="True" />
        </Fields>
       
    </asp:DataPager>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="menu_content" Runat="Server">
</asp:Content>

