@charset "UTF-8";


.TabbedPanels {
	margin: 0px;
	padding: 0px;
	float: left;
	clear: none;
	margin-top:8px;
	width: 100%; 
}


.TabbedPanelsTabGroup {
	margin: 0;
	padding: 0;
}

.TabbedPanelsTab {
	position: relative;
	float: left;
	padding: 4px 10px;
	margin: 0 10px 0 0;
	color:#12b5f2;
	background-color: #ffffff;
	list-style: none;	
	cursor: pointer;
	-moz-border-radius:4px 4px 4px 4px;
	-khtml-border-radius:4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius:4px 4px 4px 4px;
	-khtml-border-radius:4px 4px4px 4px;
	border-bottom: 1px solid #09b5e9;
	
}


.TabbedPanelsTab:hover {
	background-color: #307499;
	margin: 0 10px 0 0;
	
	padding: 4px 10px;
	color:#ffffff;
	background-color: #4ec6fe;
	list-style: none;	
	cursor: pointer;
	-moz-border-radius:4px 4px 4px 4px;
	-khtml-border-radius:4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius:4px 4px 4px 4px;
	-khtml-border-radius:4px 4px4px 4px;
	 /* border-bottom: 2px solid #9fa2a3;*/
	-webkit-transition:all .4s ease-in-out;
	-moz-transition:all .4s ease-in-out;
	-o-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out;

}

.TabbedPanelsTabSelected 
{
	
	  background-color: #17ACF6;
    border-bottom: 2px solid #9fa2a3;
   -moz-border-radius:4px 4px 4px 4px;
	-khtml-border-radius:4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius:4px 4px 4px 4px;
	-khtml-border-radius:4px 4px4px 4px;
    color: #FFFFFF;
    float: left;
    list-style: none outside none;
    margin: 0 10px 0 0;
    padding: 4px 10px;
    position: relative;
}

.TabbedPanelsTab a {
	color: black;
	text-decoration: none;
		border:none;
}


.TabbedPanelsContentGroup {
	clear: both;	

.TabbedPanelsContent {
	padding: 6px 0 5px 0;
}


.TabbedPanelsContentVisible {
}


.VTabbedPanels .TabbedPanelsTabGroup {
	float: left;
	width: 10em;
	height: 20em;
	background-color: #FFF;
	position: relative;
	
}


.VTabbedPanels .TabbedPanelsTab {
	float: none;
	margin: 0px;
	border-top: none;
	border-left: none;
	border-right: none;
}


.VTabbedPanels .TabbedPanelsTabSelected {
	background-color: #EEE;
	border-bottom: solid 1px #999;
}


.VTabbedPanels .TabbedPanelsContentGroup {
	clear: none;
	float: left;
	padding: 0px;
	width: 30em;
	height: 20em;
}

